:root{
    --orange-color:#de9455;
    --blue-color:#11141b;
    --blue-color02:#151921;
    --white-color:#fff;
    --white-alpha-color:rgba(255,255,255,0.06);
    --orange-alpha-color:rgb(222, 148, 85,0.8);
    --gray-color:#bebebe;
    --blue-alpha-color:rgba(34,40,54,0.65);
    --font-poppins:'Poppins', 'sans-serif';
    --font-open-sans:'Open Sans', 'sans-serif';
    --transition-color:color .4s ease;
}

html{
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}
*,*::after,*::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body{
    font-family: var(--font-open-sans);
    margin: 0;
    padding: 0;
    color: var(--white-color);
    width: 100%;
    min-height: 100vh;
}
.container{
    width: inherit;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;

}
p{
    line-height: 1.6;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-poppins);
    font-weight: 600;
    transition: font-size .5s ease;
}
h1{
    font-size: 30px;
    margin: 0;
}
h2{
    font-size:25px;
    margin: 0;
}
h3{
    font-size: 18px;
    margin: 0;
}
h4{
    font-size: 14px;
    margin: 0;
}

/*************header*********************/
.logo img{
    width: 50px;
    height: auto;
}
.header{
    position: fixed;
    width: 100%;
    height: 5rem;
    z-index: 999;
    background-color: transparent;
    transition: background-color .3s ease,height .3s ease-out;
}
.header.activeBackground{
    background-color: var(--blue-color02);
    height: 4rem;
}
.header>.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu{
    position: absolute;
    top: 0;
    left: -250px;
    min-height: 100vh;
    width:250px;
    display: flex;
    flex-direction: column;
    background-color: var(--blue-color);
    visibility: hidden;
    transition:  all 0.4s;
}
.menu.active{
    left: 0;
    visibility: visible;
}
.menu-link{
    display: inline-block;
    width: 100%;
    padding: 1rem;
    color: var(--white-color);
    font-size: 14px;
    transition: all .4s ease ;
}
.menu-link{
    border-bottom: solid 2px var(--white-alpha-color);
}
.menu .logo {
    text-align: center;
    padding:3rem 1rem;
}

.menu-link[aria-current="page"]{
    border-color: var(--orange-color) !important ;
    color: var(--orange-color);
    background-color: var(--white-alpha-color);
    font-weight: 600;
}


/***************hamburger*************/
.hamburger{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color:transparent;
    border: none;
    cursor: pointer;
}
.hamburger::after,.hamburger::before
{
    content: '';
    display: block;
}

.hamburger .line-ham,.hamburger::after,.hamburger::before{
    width: 2rem;
    height: 2px;
    position: absolute;
    background-color: var(--white-color);

}
.hamburger::before{
    top: 25%;
    transition: transform .4s ease;
}
.hamburger::after{
    bottom: 25%;
    transition: transform .4s ease;
}
.hamburger .line-ham{
    top: 50%;
    transform: translateY(-50%);
    transition: transform .4s ease;
}
.hamburger.active .line-ham{
    display: none;
}
.hamburger.active::before{
    top: 50%;
    transform: translateY(-50%) rotate(45deg) ;
}
.hamburger.active::after{
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg) ;
}
/**************Line title***************/

.circule{
    position: relative;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: var(--white-alpha-color);
    border-radius: 50%;
}
.circule::before{
    position: absolute;
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 50%;
    background-color: var(--orange-color);
}
.line{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
}
.line::before,.line::after{
    content: '';
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 2px;
    background-color: var(--white-alpha-color);
    bottom: 50%;
    transform: translateY(50%);
}
.line::after{
    right: 0;
}
.line::before{
    left: 0;
}

/***********titles***********/
.title{
    width: max-content;
    text-align: center;
    margin-bottom: 4rem;
}
.title h2{
    text-transform: uppercase;
}
/*********Buttom hover*********/
.hover-bg-orange{
    position: relative;
    overflow: hidden;
    z-index: 2;
    border: none;
}
.hover-bg-orange::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: inline-block;
    background-color: var(--orange-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition:all 1s ease ;
    z-index: -1;
}
/*****mascara transparente****/
.transparent-mask{
    width: 100%;
    height: inherit;
    background-color: var(--blue-alpha-color);
}
/******centrar caja*********/
.center{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
/****contenido *********/
.content{
    color: var(--white-color);
    text-align: center;
}
/*******************home************/
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image:url("../IMG/imgPortafolio03.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.content h3,.content h1{
    margin-bottom: 2rem;
}
.content h3{
    opacity: .8;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    font-size: 16px;
}
.social-media-link{
    padding: .5rem 1rem;
    color: var(--white-color);
    transition: var(--transition-color);
}
.about-view-work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.about-view-work .btn-home{
    padding: 1rem 1.5rem;
    text-align: center;
    cursor: pointer;
    font-size: inherit;
    border-radius: 2rem;
    color: var(--white-color);
}
.about-view-work  .btn-about-me{
    background-color: var(--orange-color);
    border: none;
}
.about-view-work .btn-view-work{
    background-color: var(--white-alpha-color);
    transition: var(--transition-color);
}
.web-developer{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    color: var(--orange-color);
    animation:textWebDeveloper 2s ease-in infinite alternate;
    max-width: max-content;
}
@keyframes textWebDeveloper{
    to{
        width: 0;
    }
    from{
        width:100% ;
    }
}
.separator{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.separator svg{
    max-width: 100%;
    height: auto;
    margin-bottom: -9px;
}
/*************about************/
.about{
    width: 100%;
    height: auto;
    background-color: var(--blue-color);
    padding: 5rem 0 6rem;
}
.about .center{
    flex-direction: column;
}
.about .center-box{
    flex-direction: column;
    justify-content: center;
    align-items: inherit;
}
.data-about{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.about-content h3{
    margin-bottom: 1rem;
}
.about-content h3 span{
    padding: 0 .5rem;
    color: var(--orange-color);
}
.about-content h4{
    letter-spacing: 4px;
    opacity: .7;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 12px;
}
.about-content .description-about p{
    margin-bottom: 2rem;
    font-size: 14px;
}
.download-cv{
    width: 100%;
}
.btn-download-cv{
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: var(--white-alpha-color);
    color: var(--white-color);
    font-size: 13px;
    border-radius: 2rem;
}
.profile-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.profile-image-border{
    width: 200px;
    height:200px;
    border-radius: 50%;
    background-color: var(--white-alpha-color);
    transition: width .3s ease,height .3s ease;
}
.profile-image-border img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-image-border{
    border: solid 5px var(--blue-color);
    border-bottom-color: var(--white-alpha-color);
    border-left-color:  var(--white-alpha-color);
}

/**********skills*****************/
.skills{
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(https://images.pexels.com/photos/3205538/pexels-photo-3205538.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.skills .center{
    flex-direction: column;
}
.skills .transparent-mask{
    padding: 6rem 0;
}
.list-skills{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 3rem;
}
.skill{
    width: 100%;
}
.skill .skill-name{
    width: 100%;
    margin-bottom: 1rem;
    opacity: .7;
}
.skill .progress{
    width: 100%;
    height: 1rem;
    background-color: var(--white-alpha-color);
    border-radius: .35rem;
}
.progress-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange-color);
    height: 100%;
    width: 0%;
    font-size: 14px;
    border-radius: .35rem .5rem .5rem .35rem;
}
.html.animar{
width: 85%;
animation: progressHTML 2s ease both;
}
.javascript.animar{
width: 60%;
animation: progressjava 2s ease both;

}
.php.animar{
width: 60%;
animation: progressphp 2s ease both;

}
.css.animar{
width: 70%;
animation: progresscss 2s ease both;

}
.wordpress.animar{
width: 75%;
animation: progreswordpress 2s ease both;

}
@keyframes progressHTML {
    0%{
        width: 0;
    }
    100%{
        width:85%;
    }
}
@keyframes progressjava {
    0%{
        width: 0;
    }
    100%{
        width:60%;
    }
}
@keyframes progressphp {
    0%{
        width: 0;
    }
    100%{
        width:60%;
    }
}
@keyframes progresscss {
    0%{
        width: 0;
    }
    100%{
        width:70%;
    }
}
@keyframes progreswordpress {
    0%{
        width: 0;
    }
    100%{
        width:75%;
    }
}

/*******experiences*********/
.experiences,.contact{
    width: 100%;
    padding: 6rem 0;
    background-color: var(--blue-color);
}
.experiences .center{
    flex-direction: column;
}

.data-experiences{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
}
.experience{
    padding-left: 3.5rem;
}
.experience-content{
    position: relative;
    padding: 1rem;
    border-left: solid 2px var(--orange-color);
}

.experience-content .position{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: .5rem;
    line-height: 1;
    
}
.experience-content .years,.experience-content .company-name{
    display: inline-block;
    line-height: 1;
    font-size: 14px;
}
.experience-content .years{
    padding-right: .35rem;
}
.experience-content .company-name{
    padding-left: .5rem;
    border-left:solid 1px var(--gray-color);
    text-transform: capitalize;
    opacity: .7;
}
.experience-content .description{
    padding: 1rem 0;
    margin-top: .5rem;
    border-top: solid thin var(--white-alpha-color);
    line-height: 1;
    font-size: 14px;
}
.experience-content .icon-experience{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color:var(--orange-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 1rem;
    left: -3.5rem;
}
.experience-content .icon-experience::before{
    position: absolute;
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 2px;
    right: -20px;
    background-color: var(--orange-color);
}
/************proyectos*****************/
.projects{
    width: 100%;
    background-image:url(https://images.pexels.com/photos/129205/pexels-photo-129205.jpeg?auto=compress&cs=tinysrgb&w=600) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.projects .transparent-mask{
    padding: 6rem 0;
}
.projects .center{
    flex-direction: column;
}
.project-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
}

.project-image{
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    background-color: var(--white-color);
}
.project-image{
    display: flex;
}
.project-details{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    background-color:rgba(34,40,54,0.85);
    transition: transform .5s ease-in ;
}
.project-details *{
    width: 100%;
    text-align: center;
}
.project-details{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.project-image:hover .project-details{
    transform: scale(1);
}
.project-details .project-name{
    text-transform: uppercase;
    font-size: 1rem;
}
.project-details .project-category{
    font-size: 14px;
    color: var(--orange-color);
}
.project-details .project-links a{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:14px ;
    padding: .5rem;
    background-color: var(--orange-color);
    border-radius: 50%;
    border: none;
    color: var(--white-color);
    cursor: pointer;
}
.view-project{
    display: flex;
    justify-content: center;
    position: relative;
}
.tooltip{
    width: max-content;
    position: absolute;
    display: flex;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    bottom: -2.5rem;
    font-size: 12px;
    padding: .3rem .5rem;
    background: var(--blue-color);
    border-radius: 5px;
}
.tooltip::before{
    position: absolute;
    top: 0;
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    transform: rotate(45deg) translateY(-50%);
    background-color: var(--blue-color);
}
.view-project:hover .tooltip{
    opacity: 1;
    visibility: visible;
    transition: opacity  .3s ease-in;
}
/***************contact***************/
.contact .center{
    flex-direction: column;
}
.contact .contact-means{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}
.contact-means .contact-item{
    width: 100%;
    text-align: center;
    padding: 2.5rem 1rem;
    border-radius: 5px;
    background-color: var(--white-alpha-color);
}
.contact-item .contact-item-icon i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40px;
    height: 40px;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--orange-color);
    color: var(--white-color);
    transition: background-color .3s ease, color.3s ease;
}
.contact-item-icon i:hover{
    background-color:var(--blue-color) ;
    color: var(--orange-color);
}
.contact-item-icon,.contact-item-name{
    margin-bottom: .5rem;
}
.contact-item .contact-item-name{
    color: var(--orange-color);
    font-weight: 700;
}
.contact-item .contact-item-data{
    font-size: 14px;
}
/**footer**/
.footer{
    width: 100%;
    padding: 3rem 0;
    border-top: solid thin var(--white-alpha-color);
    background-color: var(--blue-color);
}
.footer .container{
    text-align: center;
    font-size: 14px;
    color: var(--white-color);
    opacity: .5;
}
/******************desktop*************/
@media (min-width:560px){
    .container{
        max-width: 560px;
    }
    .about-view-work{
        flex-direction: row;
    }
    .project-image img.active ~ .project-details{
        transform: scale(1);
    }
    .contact .contact-means{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:688px){
    .container{
        max-width: 688px;
    }
    h1{
        font-size: 50px;
        margin: 0;
    }
    h2{
        font-size:30px;
        margin: 0;
    }
    .list-skills{
        grid-template-columns: repeat(2,1fr);
    }
    .profile-image-border{
        width: 250px;
        height: 250px;
    }
    .data-experiences{
        grid-template-columns: repeat(2,1fr);
    }
    .project-list{
        grid-template-columns: repeat(2,1fr);
    }


}
@media (min-width:944px){
    .container{
        max-width: 944px;
    }
    .menu{
        position: inherit;
        flex-direction: row;
        width: auto;
        min-height: auto;
        visibility: visible;
        background-color: transparent;
    }
    .menu-link{
        border-bottom: none !important;
    }
    .menu-link:hover{
        color: var(--orange-color);
    }
    .menu-link[aria-current="page"]{
        background-color: transparent;
    }
    .menu .logo{
        display: none;
    }
    .hamburger{
        display: none;
    }
    /*about**/
    .data-about{
        flex-direction: row;
        align-items: center;
        gap: 5rem;
    }
    .profile-image{
        display: block;
        margin-bottom: 0;
        text-align: center;
    }
    .profile-image-border{
        width: 350px;
        height: 350px;
    }
    .hover-bg-orange:hover::before{
        width: 300px;
        height: 300px;
    }
    .social-media-link:hover{
        color: var(--gray-color);
    }
    .contact .contact-means{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(min-width:1200px){
    .container{
        max-width: 1200px;
    }
    .project-list{
        grid-template-columns: repeat(3,1fr);
    }
}


